@{ ViewData["Title"] = "Home Page"; }

<div class="text-center">

    <h1 style="color:orange" class="display-4">Welcome</h1>
    <p>  Diana Alejandra Aragón López - Oscar Josué Rivera Menéndez</p>


</div>
<a asp-action="OptionList" class="btn btn-outline-warning btn-block" role="button">Developer</a>
<hr />
<a asp-action="Optionlist2" class="btn btn-outline-primary btn-block" role="button">Project Manager</a>

