@model LAB4_1203819_2530019.Models.Tarea
<div style="color:orange"; position:center">
    <dl class="row">
        <dt class="col-sm-2">
            <p>Develepor:</p>
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayFor(model => model.Developer)
        </dt>
    </dl>
</div>
<p>Seleccione que desea realizar</p>

<a style="color:black" asp-action="Create" class="btn btn-outline-warning btn-block" role="button">Agregar Tarea Pendiente</a>
<hr />
<a style="color:black" asp-action="Consulta" class="btn btn-outline-warning btn-block" role="button">Consultar/Eliminar siguiente tarea pendiente</a>
<hr />
<a style="color:black" asp-action="DeveloperChoose" class="btn btn-outline-warning btn-block" role="button">Cambiar de develepor</a>

